:root {
  --mc: #9c2926;
  --wc: #fff;
}


@font-face {
  font-family: "jgj-B";
  font-style: normal;
  src: url('../font/YoonMingukB.otf');
}

@font-face {
  font-family: "jgj-R";
  font-style: normal;
  src: url('../font/YoonMingukR.otf');
}

.container {
  margin: 0 auto;
}

section::before {
  content: "";
  position: absolute;
  top: 8%;
  left: 00px;
  width: 300px;
  height: 0;
  border-top: 40px solid var(--mc);
  border-bottom: 40px solid var(--mc);
  border-left: 40px solid var(--mc);
  border-right: 40px solid transparent;
  z-index: 999;
}

section::after {
  content: attr(section_title);
  position: absolute;
  top: 10.5%;
  left: 1%;
  z-index: 999;
  font-family: "jgj-B";
  font-size: 35px;
  color: var(--wc);
}

#fp-nav {
  opacity: 0;
  animation: nav_show 0.5s 1s;
  animation-fill-mode: forwards;
}

@keyframes nav_show {
  to {
    opacity: 1;
  }
}

#fp-nav ul li {
  margin: 13px;
}


#fp-nav ul li a.active span, #fp-nav ul li:hover a.active span {
  height: 15px;
  width: 15px;
  margin: -5px 0 0 -7px;
}

#fp-nav ul li a span {
  height: 7px;
  width: 7px;
  margin: -1px 0 0 -3px;
  background: #fff;
}

#fp-nav ul li.on a span {
  background: var(--mc);
}

#fp-nav ul li .fp-tooltip {
  font-family: "jgj-R";
}

#fp-nav ul li.on .fp-tooltip {
  color: var(--mc);
  font-family: "jgj-R";
}

#fp-nav ul li .fp-tooltip.fp-left {
  left: 25px;
  font-size: 16px;
}

#fp-nav ul li a.active+.fp-tooltip.fp-left {
  top: 2px;
}

@keyframes show {
  to {
    opacity: 1;
  }
}

.Header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  line-height: 100px;
  background: rgba(0, 0, 0, 0.3);
  color: var(--wc);
  z-index: 99;
  padding: 0 100px;
  opacity: 0;
  animation: show 0.5s 1.5s;
  animation-fill-mode: forwards;
}

.Header.on {
  top: -100%;
  transition: 0.8s;
}

.Header .container {
  display: flex;
  justify-content: space-between;
}

.Header h1 {
  font-size: 0;
  width: 20%;
}

.Header img {
  width: 130px;
}

.Header .Gnb>ul {
  display: flex;
  gap: 50px;
  letter-spacing: -0.025em;
  font-size: 21px;
}

/* .Header .snb{
  position: absolute;
  top:100px;
  left: 0;
  width: 100%;
  height: 400px;
  background: rgba(0, 0, 0, 0.2);
} */

.Header .icons {
  width: 20%;
  justify-content: end;
  display: flex;
  gap: 20px;
  font-size: 28px;
}

.Header .icons a {
  display: block;
}

.MainVisual {
  position: relative;
  height: 100vh;
  background: url(../img/main_bg_darker.jpg) no-repeat fixed center center;

}

.MainVisual .title {
  position: absolute;
  width: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 101;
}

.MainVisual::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: var(--mc);
  z-index: 100;
  animation: slide_up 1.5s 0.5s;
  animation-fill-mode: forwards;
}

@keyframes slide_up {
  to {
    top: -100%;
  }
}

.MainVisual .scroll_down {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 150px;
  background: rgba(102, 102, 102, 0.5);
  overflow: hidden;
}

.MainVisual .scroll_down .bar {
  position: fixed;
  font-size: 0;
  display: block;
  width: 2px;
  height: 100px;
  background: var(--wc);
  animation: scroll_down 2s infinite;
}

@keyframes scroll_down {
  0% {
    top: 0
  }

  100% {
    top: 100%
  }
}

.Story {
  text-align: center;
  color: var(--wc);
}

.Story figure {
  height: 100vh;
}

.Story .inner {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Story .inner h2 {
  opacity: 0;
  font-size: 50px;
  font-family: "jgj-B";
  margin-bottom: 30px;
  transition: 1s 0.7s;
}

.Story .inner p {
  opacity: 0;
  font-family: "jgj-R";
  font-size: 21px;
  line-height: 1.2;
  transition: 1s 0.7s;
}


.Story figure.active .inner h2 {
  opacity: 1;

}

.Story figure.active .inner p {
  opacity: 1;
  transition: 1s 1.2s;
}

.Story figure:nth-child(1) {
  background: url(../img/story01.jpg) no-repeat center center/cover;
}

.Story figure:nth-child(2) {
  background: url(../img/story03.jpg) no-repeat center center/cover;
}

.Story figure:nth-child(3) {
  background: url(../img/sam.jpg) no-repeat center center/cover;
}

.Story figure:nth-child(4) {
  background: url(../img/story04.jpg) no-repeat center center/cover;
}

.Story span {
  background: white !important;
}

/* .Won {
  overflow-x: hidden;
}

.Won .container {
  display: flex;
}

.Won .container>div {
  flex: 1;
}

.Won .right {
  position: relative;
  right: -100%
}

.Won.on .right {
  right: 0;
  transition: 1s 1s;
}

.Won .rear {
  position: absolute;
  top: 55%;
  left: 45%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.Won .front {
  position: absolute;
  top: 55%;
  left: 45%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.Won.on .jagi {
  animation: disappear 1s;
  animation-delay: 6s;
  animation-fill-mode: forwards;
}

.Won .ingredients img {
  position: absolute;
  opacity: 0;
  top: 20%;
  left: 54%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.Won.on .ingredients img {
  animation: ingredients 2s 1.5s;
  animation-fill-mode: forwards;
}

.Won.on .ingredients img:nth-child(1) {
  animation-delay: 2s;
}

.Won.on .ingredients img:nth-child(2) {
  animation-delay: 2.5s;
}

.Won.on .ingredients img:nth-child(3) {
  animation-delay: 3s;
}

.Won.on .ingredients img:nth-child(4) {
  animation-delay: 3.5s;
}

.Won.on .ingredients img:nth-child(5) {
  animation-delay: 4s;
}

.Won.on .ingredients img:nth-child(6) {
  animation-delay: 4.5s;
}

.Won .hongsamwon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.Won.on .hongsamwon {
  animation: appear 1s;
  animation-delay: 7s;
  animation-fill-mode: forwards;

}

.Won.on .hongsamwon img {
  position: relative;
}

/* 
.Won.on .hongsamwon::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 800px;
  background: url(../img/raylights_red.png) no-repeat center center/cover;
  border-radius: 50%;
} */

/* .Won .left {
  position: relative;
  left: -100%
}

.Won.on .left {
  left: 0;
  transition: 1s;
}

.Won .left .text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  line-height: 1.3;
}

.Won .left .title {
  font-size: 50px;
  margin-bottom: 40px;
  font-family: "jgj-B";
}

.Won .left .text p {
  font-size: 21px;
}

@keyframes ingredients {
  from {
    opacity: 1;
  }

  to {
    scale: 0.9;
    opacity: 1;
    top: 60%
  }
}

@keyframes disappear {
  to {
    opacity: 0;
  }
}

@keyframes appear {
  to {
    opacity: 1;
  }
} */

/* * {
  outline: 1px solid pink;
} */

.Jung .container {
  display: flex;
  gap: 80px;
}

.Jung .container>div {
  flex: 1;
}

.Jung .time {
  justify-content: center;
  display: flex;
  flex-direction: column;
  font-size: 50px;
  font-family: "jgj-B";
  text-align: center;
  line-height: 1.3;
}

.Jung .time span {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.Jung .time span .memberCountCon {
  font-size: 70px;
}

.Jung .right {
  position: relative;
}

.Jung .elders {
  opacity: 0;
  transform: translateX(100px);
}

.Jung .right .second_pic {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  height: 0;
  width: 744px;
  height: 744px;
}

.Jung.on .elders {
  opacity: 1;
  transform: translateX(0) scale(1.1);
  transition: 1s;
  animation: right_hide 1s 4s;
  animation-fill-mode: forwards;
}

.Jung.on .time {
  animation: time_hide 1s 4s;
  animation-fill-mode: forwards;
}

.Jung.on .right .second_pic {
  animation: right_show 1s 4s;
  animation-fill-mode: forwards;
}

@keyframes time_hide {
  to {
    opacity: 0;
    transform: translateY(-200px);
  }
}

@keyframes right_hide {
  to {
    opacity: 0;
    transform: translateX(300px);
  }
}

@keyframes right_show {
  to {
    opacity: 1;
    left: 50%;
  }
}

.Jung .second {
  opacity: 0;
  position: absolute;
  top: 60%;
  left: 30%;
  transform: translate(-50%, -50%);
  line-height: 1.3;
  text-align: center;
}

.Jung .second span {
  display: block;
  font-size: 50px;
  font-family: "jgj-B";
  margin-bottom: 50px;
}

.Jung .second p {
  font-size: 21px;
}

.Jung.on .second {
  animation: second_show 1s 4s;
  animation-fill-mode: forwards;
}


@keyframes second_show {
  to {
    opacity: 1;
    top: 50%;
  }
}

.Every {
  position: relative;
  overflow-x: hidden;
}

.Every>div {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 105px;
  font-family: "jgj-B";
}

.Every .left {
  left: 15%;
}

.Every .right {
  right: 15%;
}

.Every.on .left {
  animation: left 2s 4s;
  animation-fill-mode: forwards;
}

.Every.on .right {
  animation: right 2s 4s;
  animation-fill-mode: forwards;
}

.Every .second {
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  opacity: 0;
}

.Every.on .second {
  animation: show 0.5s 5s;
  animation-fill-mode: forwards;
}

/* .Every .second .l {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translateY(-50%) rotate(152.5deg);
}

.Every .second .r {
  position: absolute;
  top: 50%;
  right: 25%;
  transform: translateY(-50%) rotate(332.5deg);
} */

.Every .second .l {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translateY(-50%);
}

.Every .second .r {
  position: absolute;
  top: 50%;
  right: 25%;
  transform: translateY(-50%);
}

.Every .effect {
  position: absolute;
  width: 150px;
  transition: 1s;
}

.Every .effect:hover {
  transform: scale(1.1);
}

/* .Every .effect+div {
  transition: 1s;
}

.Every .effect:hover+div {
  transform: scale(1.1);
} */

.Every .antiO {
  top: 18%;
  left: 26%;
}

.Every .better {
  top: 43%;
  left: 23.5%;
}

.Every .circulate {
  top: 66%;
  left: 25.5%;
}

.Every .immune {
  top: 18%;
  right: 25%;
}

.Every .memory {
  top: 43%;
  right: 23.5%;
}

.Every .skin {
  top: 66%;
  right: 25.5%;
}

.Every .second>div>div {
  position: absolute;
}

.Every .second .left>div {
  text-align: end;
}

.Every .second>div>div h3 {
  display: inline-block;
  padding: 5px;
  font-size: 25px;
  color: var(--wc);
  background: var(--mc);
}

.Every .second>div>div p {
  display: block;
  font-size: 19px;
  margin-top: -6px;
}

.Every .antiO_txt {
  top: 17%;
  left: 15%;
}

.Every .better_txt {
  top: 42%;
  left: 12.5%;
}

.Every .circulate_txt {
  top: 65%;
  left: 13%;
}

.Every .immune_txt {
  top: 17%;
  right: 14%;
}

.Every .memory_txt {
  top: 42%;
  right: 12.5%;
}

.Every .skin_txt {
  top: 65%;
  right: 14.5%;
}

@keyframes left {
  to {
    left: -100%
  }
}

@keyframes right {
  to {
    right: -100%
  }
}

@keyframes show {
  to {
    opacity: 1;
  }
}

.Every figure {
  height: 100%;
}

.Every .stick {
  display: block;
  opacity: 0;
  margin: 0 auto;
  height: 200px;
}

.Every.on .stick {
  animation: stick 4s;
  animation-fill-mode: forwards;
}

@keyframes stick {
  0% {
    transform: scale(0.2)
  }

  50% {
    opacity: 1;
    margin-top: 200px;
    transform: scale(3) rotate(360deg);
  }

  100% {
    opacity: 1;
    margin-top: 300px;
    transform: scale(3) rotate(360deg);
  }
}



.Every .tong2, .tong1 {
  position: absolute;
  opacity: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 700px;
}

.Every.on .tong2, .Every.on .tong1 {
  animation: tong 2s 2s;
  animation-fill-mode: forwards;
}

@keyframes tong {
  to {
    bottom: 100px;
    opacity: 1;
  }
}



.Product {
  padding: 100px 0;
}

.Product .container {
  position: relative;
  width: 1760px;
  padding: 0 30px
}

.Product .container h2 {
  font-size: 0px;
  font-family: "jgj-B";
  margin-bottom: 15px;
}

.Product .container>p {
  font-size: 0px;
  font-family: "jgj-r";
  margin-bottom: 100px;
}

.products_slide img {
  max-width: 100%;
}

.products_slide .slick-slide {
  margin: 0 30px;
}

.products_slide .slick-list {
  margin: 0 -30px;
}

.Product .products_slide .img {
  overflow: hidden;
  margin-bottom: 25px;
}

.products_slide img {
  transition: 0.5s;
}

.products_slide img:hover {
  transform: scale(1.2);
}

.products_slide figure p {
  font-size: 25px;
  font-family: "jgj-B";
  margin-bottom: 20px;
}

.products_slide figure .price {
  font-size: 21px;
  color: #333;
  font-family: "jgj-r";
  margin-bottom: 0;
}

.products_slide {
  margin-bottom: 100px;
}

.Product .btn a {
  display: block;
  margin: 0 auto;
  font-size: 18px;
  width: 230px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  background: var(--mc);
  color: var(--wc);
  border-radius: 5px;
}

.Product .control {
  position: absolute;
  top: 0;
  right: 30px;
  font-size: 25px;
  line-height: 40px;
}

.Product .control i {
  cursor: pointer;
}

.Product .control span {
  margin: 0 50px;
}


.Join {
  background: url(../img/bat03.png) no-repeat center center/cover;
}

.Join .container {
  text-align: center;

}

.Join h2 {
  opacity: 0;
  transform: translateY(-50px);
  font-family: "jgj-B";
  font-size: 50px;
  margin-bottom: 50px;
}

.Join.on h2 {
  opacity: 1;
  transform: translateY(0px);
  transition: 0.5s;
}

.Join p {
  opacity: 0;
  transform: translateY(-50px);
  font-family: "jgj-r";
  font-size: 21px;
  margin-bottom: 50px;
  line-height: 1.3;
}

.Join.on p {
  opacity: 1;
  transform: translateY(0px);
  transition: 0.5s 0.5s;
}

.Join .btn a {
  opacity: 0;
  display: block;
  margin: 0 auto;
  font-size: 18px;
  width: 230px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  background: var(--mc);
  color: var(--wc);
  border-radius: 5px;
}

.Join.on .btn a {
  opacity: 1;
  transition: .5s 1s;
}

/* *{outline: 1px solid pink;} */
.Footer {
  padding: 100px 0;
  background: #151411;
}

.Footer .container {
  width: 1700px;
  display: flex;
  justify-content: space-between;
}

.Footer .left {
  display: flex;
  flex-direction: column;
}

.Footer .left img {
  width: 130px;
}

.Footer .left .text_logo {
  margin-bottom: 50px;
}

.Footer .right {
  color: var(--wc);
  display: flex;
  gap: 80px;
}



.Footer .right .l a {
  display: block;
  font-size: 40px;
  font-family: "jgj-B";
  margin-bottom: 80px;
}

.Footer .right .l li:last-child a {
  margin-bottom: 0px;
}

.Footer .right .c ul>a {
  display: block;
  font-size: 40px;
  font-family: "jgj-B";
  margin-bottom: 30px;
}

.Footer .right .c li>a {
  display: block;
  font-size: 23px;
  font-family: "jgj-R";
  margin-bottom: 15px;
}


.Footer .right .r {
  font-size: 23px;
  font-family: "jgj-R";
}

.Footer .right .r select {
  background: transparent;
  outline: none;
  border: none;
  width: 200px;
  height: 40px;
  color: var(--wc);
  border-bottom: 1px solid var(--wc);
  margin-bottom: 30px;
}


.Footer .right .r select option {
  background: #222;
  color: var(--wc);
}

.Footer .right .r span {
  color: var(--mc);
}

.Footer .right .r ul>li>a {
  display: block;
  margin-bottom: 15px;
}

.Footer .right .r ul {
  margin-bottom: 75px;
}

.Footer .right .icons {
  display: flex;
  justify-content: space-between;
  font-size: 35px;
}

.fp-watermark {
  display: none;
}