:root {
  --mc: #9c2926;
  --wc: #fff;
}


@font-face {
  font-family: "jgj-B";
  font-style: normal;
  src: url('../font/YoonMingukB.otf');
}

@font-face {
  font-family: "jgj-R";
  font-style: normal;
  src: url('../font/YoonMingukR.otf');
}

.container{
  margin: 0 auto;
}

.Header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  line-height: 100px;
  background: rgba(0, 0, 0, 0.3);
  color: var(--wc);
  z-index: 99;
  padding: 0 100px;
  opacity: 0;
  animation: show 0.5s 1.5s;
  animation-fill-mode: forwards;
}

.Header.on {
  top: -100%;
  transition: 0.8s;
}

#fp-nav ul li a span {
  background: #fff;
}

#fp-nav ul li.on a span {
  background: var(--mc);
}

#fp-nav ul li .fp-tooltip {
  font-family: "jgj-R";
}

#fp-nav ul li.on .fp-tooltip {
  color: var(--mc);
  font-family: "jgj-R";
}

@keyframes show {
  to {
    opacity: 1;
  }
}

.Header .container {
  display: flex;
  justify-content: space-between;
}

.Header h1 {
  font-size: 0;
  width: 20%;
}

.Header img {
  width: 130px;
}

.Header .Gnb>ul {
  display: flex;
  gap: 50px;
  letter-spacing: -0.025em;
  font-size: 21px;
}

.Header .icons {
  width: 20%;
  justify-content: end;
  display: flex;
  gap: 20px;
  font-size: 25px;
}

.Header .icons a {
  display: block;
}

.MainVisual {
  position: relative;
  height: 100vh;
  background: url(../img/main_bg.jpg) no-repeat fixed center center;

}

.MainVisual .title {
  position: absolute;
  width: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 101;
}

.MainVisual::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: var(--mc);
  z-index: 100;
  animation: slide_up 1.5s 0.5s;
  animation-fill-mode: forwards;
}

@keyframes slide_up {
  to {
    top: -100%;
  }
}

.MainVisual .scroll_down {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 150px;
  background: rgba(102, 102, 102, 0.5);
  overflow: hidden;
}

.MainVisual .scroll_down .bar {
  position: fixed;
  font-size: 0;
  display: block;
  width: 2px;
  height: 100px;
  background: var(--wc);
  animation: scroll_down 2s infinite;
}

@keyframes scroll_down {
  0% {
    top: 0
  }

  100% {
    top: 100%
  }
}

.Story {
  text-align: center;
  color: var(--wc);
}

.Story figure {
  height: 100vh;
}

.Story .inner {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Story .inner h2 {
  opacity: 0;
  font-size: 50px;
  font-family: "jgj-B";
  margin-bottom: 30px;
}

.Story .inner p {
  opacity: 0;
  font-family: "jgj-R";
  font-size: 21px;
  line-height: 1.2;
}


.Story figure.active .inner h2 {
  opacity: 1;
  transition: 1s 0.7s;
}

.Story figure.active .inner p {
  opacity: 1;
  transition: 1s 1.5s;
}

.Story figure:nth-child(1) {
  background: url(../img/story01.jpg) no-repeat center center/cover;
}

.Story figure:nth-child(2) {
  background: url(../img/story03.jpg) no-repeat center center/cover;
}

.Story figure:nth-child(3) {
  background: url(../img/sam.jpg) no-repeat center center/cover;
}

.Story figure:nth-child(4) {
  background: url(../img/story04.jpg) no-repeat center center/cover;
}

.Story span {
  background: white !important;
}

.Won{
  overflow-x: hidden;
}

.Won .container {
  display: flex;
}

.Won .container>div {
  flex: 1;
}

.Won .right {
  position: relative;
  right: -100%
}

.Won.on .right {
  right: 0;
  transition: 1s 1s;
}

.Won .rear {
  position: absolute;
  top: 55%;
  left: 45%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.Won .front {
  position: absolute;
  top: 55%;
  left: 45%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.Won.on .jagi {
  animation: disappear 1s;
  animation-delay: 6s;
  animation-fill-mode: forwards;
}

.Won .ingredients img {
  position: absolute;
  opacity: 0;
  top: 20%;
  left: 54%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.Won.on .ingredients img {
  animation: ingredients 2s 1.5s;
  animation-fill-mode: forwards;
}

.Won.on .ingredients img:nth-child(1) {
  animation-delay: 2s;
}

.Won.on .ingredients img:nth-child(2) {
  animation-delay: 2.5s;
}

.Won.on .ingredients img:nth-child(3) {
  animation-delay: 3s;
}

.Won.on .ingredients img:nth-child(4) {
  animation-delay: 3.5s;
}

.Won.on .ingredients img:nth-child(5) {
  animation-delay: 4s;
}

.Won.on .ingredients img:nth-child(6) {
  animation-delay: 4.5s;
}

.Won .hongsamwon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.Won.on .hongsamwon {
  animation: appear 1s;
  animation-delay: 7s;
  animation-fill-mode: forwards;

}

.Won.on .hongsamwon img {
  position: relative;
}


.Won.on .hongsamwon::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 800px;
  background: url(../img/raylights_red.png) no-repeat center center/cover;
  border-radius: 50%;
}

.Won .left {
  position: relative;
  left: -100%
}

.Won.on .left {
  left: 0;
  transition: 1s;
}

.Won .left .text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  line-height: 1.2;
}

.Won .left .title {
  font-size: 50px;
  margin-bottom: 40px;
  font-family: "jgj-B";
}

.Won .left .text p {
  font-size: 21px;
}

@keyframes ingredients {
  from {
    opacity: 1;
  }

  to {
    scale: 0.9;
    opacity: 1;
    top: 60%
  }
}

@keyframes disappear {
  to {
    opacity: 0;
  }
}

@keyframes appear {
  to {
    opacity: 1;
  }
}


.Every figure {
  height: 100%;
}

.Every .stick {
  display: block;
  opacity: 0;
  margin: 0 auto;
  height: 200px;
}

.Every.on .stick {
  animation: stick 4s;
  animation-fill-mode: forwards;
}

@keyframes stick {
  0% {
    transform: scale(0.2)
  }

  50% {
    opacity: 1;
    margin-top: 200px;
    transform: scale(3) rotate(360deg);
  }

  100% {
    opacity: 1;
    margin-top: 300px;
    transform: scale(3) rotate(360deg);
  }
}

.Every.on .animate {
  animation: UtoD 2s 2s;
}

.Every .tong2, .tong1 {
  position: absolute;
  opacity: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 700px;
}

.Every.on .tong2, .Every.on .tong1 {
  animation: tong 2s 2s;
  animation-fill-mode: forwards;
}

@keyframes tong {
  to {
    bottom: 100px;
    opacity: 1;
  }
}

.Product{
  padding: 100px 0;
}

.Product .container{
  position: relative;
  width: 1760px;
  padding: 0 30px
}

.Product .container h2{
  font-size: 40px;
  font-family: "jgj-B";
  margin-bottom: 15px;
}

.Product .container>p{
  font-size: 21px;
  font-family: "jgj-r";
  margin-bottom: 60px;
}

.products_slide img{
  max-width: 100%;
}

.products_slide  .slick-slide {
  margin: 0 30px;
}

.products_slide  .slick-list {
  margin: 0 -30px;
}

.products_slide img{
  margin-bottom: 25px;
}

.products_slide figure p{
  font-size: 25px;
  font-family: "jgj-B";
  margin-bottom: 20px;
}  

.products_slide figure .price{
  font-size: 21px;
  color: #333;
  font-family: "jgj-r";
  margin-bottom: 0;
}

.products_slide{
  margin-bottom: 100px;
}

.Product .btn a{
  display: block;
  margin: 0 auto;
  font-size: 18px;
  width: 200px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  background: var(--mc);
  color: var(--wc);
  border-radius: 5px;
}

.Product .control{
  position: absolute;
  top: 0;
  right: 30px;
  font-size: 31px;
  line-height: 40px;
}

.Product .control span{
  margin: 0 50px;
}
*{outline: 1px solid pink;}
